@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Mono&display=swap");

* {
  margin: 0;
  padding: 0;
}
body {
  padding: 10px;
}

table {
  border: 3px solid black;
  border-collapse: collapse;
  font-family: "Red Hat Mono";
  margin: 30px auto;
  font-weight: 900;
}

td {
  border: 3px solid black;
  padding: 15px;
  width: 500px;
  font-size: 1.5em;
}

.orange {
  background: #fea500;
  color: white;
}

.blue {
  background: #4f4fff;
  color: white;
}

.green {
  background: #16c03b;
  color: white;
}
